.section-header {
    font-family: Solway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: #8282FF;
}


.p1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5E5E5E;
}

.p2 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #08ACF2;
}

.t1 {
    font-family: Solway;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #08ACF2;
}

.t2 {
    font-family: Solway;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #08ACF2;
}

.service-card {
    width: 100%;
    border: 2px solid #81D1FE;
    min-height: 550px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin-bottom: 10px;
}

.service-btn {
    position: absolute;
    bottom: 20px;
}

.standard-btn {
    border-radius: 20px;
    padding: 12px;
    height: 53px;
    border: 2px solid #8282FF;
    background-color: white;
    color: #8282FF;
    font-weight: 700;
}

section {
    padding: 20px;
}


.hero-banner {
    min-height: 30vh;
    max-width: 100vw;
    background-color: lightgray;
    position: relative;
}


.hero-banner-big-letters {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
    color: white;
    text-align: center;
}

.hero-banner-small-letters {
    font-family: Solway;
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 28.8px;
}

@media screen and (min-width: 768px) {
    .service-card {
        min-height: 650px;
    }

}


@media screen and (min-width: 1024px) {
    .service-card {
        min-height: 550px;
    }

}
